<template>
  <div class="{{dashCase name}}">
    {{name}} !
  </div>
</template>

<script lang="ts" src="./{{dashCase name}}.ts"></script>
<style scoped lang="css" src="./{{dashCase name}}.css"></style>
